<h1>Hello!</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-8 col-md-6 col-lg-4" *ngFor="let user of products">
      <div class="card mt-4" style="width: 18rem;">
        <img [src]="createImgPath(user.pr_Picture)" class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{user.pr_name}}</h5>
          <span class="badge badge-pill badge-primary">{{user.category.cat_name}}</span>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  </div>


