<h1>Hello!</h1>
<app-toasts></app-toasts>
<div class="d-flex justify-content-center align-middle ">

  <div class="card border-primary mb-3" style="max-width: 30rem;">
    <div class="card-body text-primary">
      <h5 class="card-title">Welcome to DotNet Core Sample Store</h5>
      <p class="card-text">Shop anything you want!</p>
    </div>
    <div class="card-footer bg-transparent">
      <a [routerLink]="['/shop']" class="btn btn-outline-primary btn-lg btn-block">Shop</a>
    </div>
  </div>
</div>

